
    <nav class="navbar navbar-expand back">
            <img src="https://www.brandcrowd.com/gallery/brands/pictures/picture12548975586775.jpg" width="80px"
            routerLink="/">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link font" routerLink="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link font" routerLink="/resume">
                    Resume
                  </a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link font" routerLink="/portfolio">
                    Projects
                  </a>
                </li>
              </ul>
            </div>
          </nav>
          
          <router-outlet></router-outlet>

          <footer class="navbar bottom navbar-expand-sm navbar-dark bg-dark">
            <div class="word">
              <h3 class="navbar-brand info">Contact Info</h3>
              <p class="navbar-brand info">Email: johnram97@live.com</p>
              <p class="navbar-brand info">Phone: (956)884-5675</p>
            </div>
          </footer>
