<div class="parallax">
<div class="container">
  <div class="row">
    <div class="col box1 text-center mt-5">
      <img src="https://files.slack.com/files-pri/T8TBSJ9S9-FC0ANLNTZ/download/img_4961.jpg" width="330px">
    </div>
    <div class="col mt-5">
      <p class="text-left mt-5">
        My name's 
      </p>  
      <p class="name1">
        Johnathon 
      </p>
      <p class="name2">
        Ramirez,
      </p>
      <p class="text-left p2">
        I've created amazing and stunning websites and I skill in Web Developing, angular, and languages such as html, css.
      </p>
    </div>
  </div>
 </div> 
</div>

