<div class="parallax">
<div class="container">
  <div class="row">
    <div class="col box1 text-center mt-5">
      <img src="https://lh3.googleusercontent.com/D3DlcUfgY3RcUWZsaAV6vqtULabxy4Uhw25R3acl3PFnTEnRLjgSP05G05QgCg1p1tDOXin_RCkfWFvPYXT4TQO-BPbcIbyOh1Vm6BbnRP3KEVSXow4beUQodCmqsRPz-QZVWMSmzv55JFF0M3L1axINULkGM4YmACsFSzYNDzdQYK4lNRAgUQ0F9NtWFcvcShODyrXAOeeqtFFATjJMRRfnl46epON6DTKzYGVYaTBN1xqF2ecfJFCm2IxWdf2rEcFB--4tZ2US8XhnY3PC2xq1qjayhU30xd5BLQFBfypD-BXNWlpff9KN9A5mVN6csXj89CMAva1hklFms52QSJLIQAnovRI4gXDt8jGS56VnY3PWsFwqRQgOna-K6G2mxRtCx_Kw54i2A5EcpItrjvYyoQHjxiL9GrONAXl1f_iSr3OgTshQKQSnp2Me6lgKKwJhGShmpePGjm9NwOk6mei13ZQgLiw4BCZisNPSGci3PvSF74zs6r5zDUOfrfAwTqxnG0kno_r4RJNMc57w7CECv6DFqBIdEoLqObmrOoz2P5k_sCY4iBkp6CG2rujxhSZ4zbyMbvcs2CbNb5TxghJW9EJbhCutYQ_SHOE=w400-h712-no" width="330px">
    </div>
    <div class="col mt-5">
      <p class="text-left mt-5">
        My name's 
      </p>  
      <p class="name1">
        Johnathon 
      </p>
      <p class="name2">
        Ramirez,
      </p>
      <p class="text-left p2">
        I've created amazing and stunning websites and I skill in Web Developing, angular, and languages such as html, css, javascript.
      </p>
    </div>
  </div>
 </div> 
</div>

